.node {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 10px; /* Bordas suaves */
  margin: 15px 0;
  padding: 20px; /* Espaçamento maior */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra leve */
  transition: transform 0.2s, box-shadow 0.2s;
  text-align: center;
}

.node:hover {
  transform: scale(1.03); /* Leve aumento ao passar o mouse */
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2); /* Sombra mais intensa ao passar o mouse */
}

  
  .node-header {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .node-header span {
    color: #2980b9;
    font-weight: bold;
    font-size: 16px;
  }
  
  .role {
    color: #7f8c8d;
    font-weight: normal;
  }
  
  .toggle-icon {
    font-size: 18px;
    margin-left: 10px;
  }
  
  /* src/components/Node.css */

.node-details {
  margin-top: 10px;
  color: #34495e;
  font-size: 14px;
  overflow: hidden;
  max-height: 0; /* Altura inicial fechada */
  transition: max-height 0.3s ease, opacity 0.3s ease;
  opacity: 0;
}

.node-expanded .node-details {
  max-height: 500px; /* Altura suficiente para expandir o conteúdo */
  opacity: 1;
}

  
/* src/components/Node.css */

.subordinates {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
  padding-left: 20px;
  position: relative;
}

.subordinate {
  margin: 0 15px;
  position: relative;
}

.subordinate::before {
  content: '';
  position: absolute;
  top: -15px;
  left: 50%;
  width: 2px;
  height: 15px;
  background-color: #ddd;
  transform: translateX(-50%);
}

.subordinate::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ddd;
}

  